.header {
    height: 60px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 60px;
    background-color: white;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: gray;
    z-index: 100;
}

.left {
    display: flex;
    align-items: center;
}

.middle {
    display: flex;
    align-items: center;
    flex: 1;
    max-width: 500px;
}

.right {
    display: flex;
    align-items: center;
}

.left-div {
    display: inline-block;
    position: relative;
}

.list {
    margin-left: 30px;
    margin-right: 30px;
}

.youtube-logo {
    height: 55px;
    width: 100px;
    margin-right: 10px;
}

.search-icon {
    margin-left: 5px;
    margin-right: 5px;
}

.search-bar {
    flex: 1;
    height: 30px;
    width: 0;
}

.profile-icon,
.notification-icon {
    margin-right: 10px;
}


.notification-count{
    position: absolute;
    top: 1px;
    right: 8px;
    background-color: red;
    color: white;
    padding:1px 5px 1px 5px ;
    font-size: 11px;
    border-radius: 10px;
    border-width: 1px;
    border-style: inset;
}

.home-icon{
    color: black;
}

