.thumbnail {
    width: 100%;
}

.channel-pic {
    display: inline-block;
    width: 50px;
    vertical-align: top;
}

.profile-pic {
    width: 100%;
    border-radius: 40px;
}

.video-title {
    margin-top: 0;
    font-size: 15px;
    font-weight: bold;
    line-height: 20px;
    margin-bottom: 12px;
}

.thumbnail-row {
    margin-bottom: 12px;
    position: relative;
}

.video-author,
.video-stats {
    color: rgb(96, 96, 96);
    font-size: 12px;
}

.video-author {
    margin-bottom: 4px;
}

.video-info-grid {
    display: grid;
    grid-template-columns: 50px 1fr;
}

.video-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 16px;
    row-gap: 40px;
}

@media (max-width:750px) {
    .video-grid {
        grid-template-columns: 1fr 1fr;
    }
}

@media (min-width:751px) and (max-width:999px) {
    .video-grid {
        grid-template-columns: 1fr 1fr 1fr;
    }
}

@media (min-width:1000px) {
    .video-grid {
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
}

.video-time {
    background-color: black;
    color: white;
    position: absolute;
    bottom: 10px;
    right: 10px;
    font-size: 12px;
    font-weight: 500;
    padding-left: 4px;
    padding-right: 4px;
    padding-top: 4px;
    padding-bottom: 4px;
}

.channel-info {
    padding-left: 8px;
}